.footer {
    height: 100px;
    background-color: #060f13;
    width: 100%;
    .footer-wrap {
        margin: 0px auto;
        padding: 20px 0px;
        height: 100%;
        box-sizing: border-box;
    }
}
