#hdrezka-container {
	background-color: #09161c;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	.max-w960 {
		max-width: 960px;
		width: 100%;
		background-color: cadetblue;
	}
	.header-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.main {
		height: 800px;
		width: 100%;
		height: fit-content;
	}
	.footer {
		height: 300px;
		background-color: darkgoldenrod;
		width: 100%;
	}
}
