#hdrezka-container {
	background-color: #09161c;
	color: white;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	.max-w960 {
		max-width: 960px;
		width: 100%;
		background-color: cadetblue;
	}
	.header-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.header_wrap-1 {
			width: 100%;
			background-color: #060f13;
			display: flex;
			flex-direction: column;
			align-items: center;
			.header-top {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				max-width: 960px;
				width: 100%;
				height: 40px;
				background-color: red;
				.socials {
					width: 30%;
				}
				.main-logo {
					width: 132px;
					background-image: url(../img/hdrezka-logo.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				.user-options {
					width: 30%;
				}
			}
		}
		.header_wrap-2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 40px;
			background-color: #222d33;
			.header-bottom {
				max-width: 960px;
			}
		}
	}
	.main {
		height: 800px;
		background-color: blue;
	}
	.footer {
		height: 300px;
		background-color: darkgoldenrod;
	}
}
