.last-receipts-container {
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
	width: 100%;

	.last-receipts-wrap {
		margin: 0px auto;
		padding-top: 40px;

		.films-cards_header {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;

			.main-chapters,
			.films-types {
				display: flex;
				flex-flow: row nowrap;

				.chapter,
				.type {
					display: block;
					padding: 10px;
					color: #fff;
					text-decoration: underline;
					border-radius: 3px;
					transition: all 0.2s linear;
					font-size: 13px;

					&:hover {
						background-color: rgba(255, 255, 255, 0.1);
						text-decoration: none;
					}
				}

				.type,
				.type-text {
					padding: 10px 5px;
					font-size: 13px;
				}

				.active-chapter,
				.active-type {
					background-color: rgba(255, 255, 255, 0.1);
					text-decoration: none;
				}

				.type-text {
					color: #999;
				}
			}
		}

		.films-container {
			width: 100%;
			padding: 38px 0px 34px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;

			.films-cards-slider {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: fit-content;
				height: -moz-fit-content;

				.films-cards {
					display: flex;
					flex-flow: row wrap;
					justify-content: center;
					width: 554px;
					// width: fit-content;
					// width: -moz-fit-content;
					border-bottom: 1px solid #162227;

					.film-card {
						display: block;
						margin: 0px 0px 20px 16px;
						cursor: pointer;
						height: fit-content;
						height: -moz-fit-content;

						&:nth-child(3n + 1) {
							margin-left: 0px;
						}

						&:hover {
							.short-desc {
								.film-title {
									text-decoration: underline;
								}
							}
						}

						.film-pic {
							padding: 3px;
							background-color: #222d33;
							border: 1px solid rgba(255, 255, 255, 0.25);
							border-radius: 2px;

							.film-pic_img {}
						}

						.short-desc {
							word-break: break-word;

							.film-title {
								line-height: 16px;
								font-size: 12px;
								font-weight: bold;
								color: #2e859e;

								&:hover {
									color: #369ebb;
								}
							}

							.film-short-info {
								color: rgba(255, 255, 255, 0.5);
								font-size: 11px;
							}
						}
					}

					.margin-left-6 {
						margin-left: 6px;

						&:nth-child(3n + 1) {
							margin-left: 6px;
						}

						&:nth-child(4n + 1) {
							margin-left: 0px;
						}
					}
				}

				.width-714 {
					width: 714px;
				}

				.pages-navigation-btns {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding-top: 25px;

					.navigation-page,
					.troit {
						display: block;
						padding: 0px 8px;
						margin: 0px 2px;
						text-decoration: none;
						font-size: 14px;
						color: #fff;

					}

					.navigation-page:hover {
						text-decoration: underline;
					}

					.troit:hover {
						text-decoration: none;
					}

					.btn-navigation {
						background-color: #fff;
						border-radius: 50%;
						margin: 0px 7px;
						width: 18px;
						font-weight: bold;
						text-align: center;
						text-decoration: none;
						transition: opacity 0.25s ease-in-out;
						border: none;
						cursor: pointer;

						&:hover {
							opacity: 0.8;
						}
					}

					.current-page {
						pointer-events: none;
						cursor: auto;
						padding: 4px 8px;
						border-radius: 5px;
						background-color: rgba(255, 255, 255, 0.1);

						&:hover {
							text-decoration: none;
						}
					}
				}
			}

			.serials-last-series {
				width: 386px;
				height: fit-content;
				height: -moz-fit-content;

				.serials-title {
					width: inherit;
					margin: 0px;
					font-size: 24px;
					line-height: 24px;
					padding-bottom: 10px;
					font-weight: normal;
				}

				.serials {
					display: flex;
					flex-direction: column;

					.serials-in-day-block {
						font-size: 14px;
						font-weight: bold;
						color: #fff;
						margin-bottom: 5px;

						.day-block-header {
							padding: 11px 20px;
							flex-direction: row;
							background-color: #192125;
							cursor: pointer;
							display: flex;
							justify-content: space-between;

							.day-block-header_span-date {}

							.day-block-header_span-expand {
								color: #878586;
								font-size: 12px;
							}

							.color-white {
								color: #fff;
							}

							&:hover {
								.day-block-header_span-expand {
									text-decoration: underline;
								}
							}

							.display-none {
								display: none;
							}
						}

						.serials-container {
							transition-property: max-height;
							transition-duration: 0.2s;
							transition-delay: 0s;
							transition-timing-function: ease;
							overflow: hidden;
							max-height: 4200px;

							.serial-block {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								border-bottom: 1px solid #162227;
								background-color: #09161c;
								font-size: 12px;
								padding: 6px 10px 5px;
								transition: background-color 0.2s linear;
								cursor: pointer;

								&:hover {
									background-color: #162227;

									.serial-name {
										.serial-name_first-span {
											color: #2e859e;
										}
									}
								}

								.serial-name {
									padding-right: 5px;

									.serial-name_first-span {
										transition: color 0.2s linear;
									}

									.serial-name_second-span {
										display: inline-block;
									}
								}

								.serial-episode {
									text-align: right;
									display: flex;
									flex-direction: column;
								}
							}
						}

						.collapse {
							max-height: 0px;
						}
					}
				}
			}
		}
	}

	.lastword {
		margin: 0px auto;
		padding: 30px 0px 50px;
		color: rgba(255, 255, 255, 0.5);

		h2 {
			font-size: 20px;
			margin: 10px 0px 0px;
		}

		h2:first-child {
			font-size: 22px;
			margin: 0px;
		}

		p {
			margin: 5px 0px;
			font-size: 14px;
		}
	}
}